body {
  padding-top: 50px;
  padding-bottom: 20px;
}

a {
	color: #8c4646;
}

a:focus, a:hover {
	color: #723939;
}

.navbar {
    background: #8C4646;
    border-color: #3e1f1f;
}

.navbar-brand {
	color: #fff;
	font-size: 1.6em;
	padding-top: 12px;
}

.navbar-brand > img {
	width: 220px;
}

.navbar-brand:hover, .navbar-brand:focus {
	color: #fff;
}

#nav-logo {
	width: 260px;
	margin-top: -3px;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.nav > li > a {
	color: #fff;
}

@media (max-width: 767px) {
	.dropdown-menu > li > a {
		color: #fff;
	}
}

.nav > li > a:hover, .nav > li > a:focus, .nav > li > a.active {
	background: #723939;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background: #723939;	
}

.btn-success {
    color: #fff;
    background-color: #588C7E;
    border-color: #497468;
}

.btn-success.focus, .btn-success:focus, .btn-success:hover, .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
	background-color: #497468;
	border-color: #497468;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #497468;
	border-color: #497468;
}

.pagination>li>a, .pagination>li>span {
	color: #8c4646;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color: #723939;
}

.jumbotron > .container {
	text-align: center;
}

.jumbotron .glyphicon-film, .jumbotron .glyphicon-info-sign {
	font-size: 4em;
}

.jumbotron h2 {
	margin: 30px 0;
}

.page-register, .page-login {
	max-width: 600px;
}

#loginForm, #registerForm {
	margin-top: 20px;
}

footer a {
	margin-left: 10px;
    padding-left: 10px;
    border-left: solid 1px #a3a3a3;
}

.movie-thumbnail {
	overflow: hidden;
	padding-bottom: 10px;
}

.movie-thumbnail h4 {
	margin-bottom: 4px;
}

.movie-thumbnail .movie-title {
	color: #000;
}

.movie-poster {
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
	display: block;
}

.movie-thumbnail .rating-container {
	float: left;
}

.movie-thumbnail .rating-label {
	font-size: 1em;
	padding: 5px 0 0 5px;
	font-weight: bold;
}

.thumbnail .user-rating {
	clear: both;
    padding-top: 6px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}

.rating-loading{
	background:url(../images/loading.gif) top left no-repeat;
}

.top-list-title {
	margin-bottom: 18px;
}

.top-list .badge {
	background-color: #8C4646;
}

.caption h4 {
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}

.list-group-item a {
	display: block;
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}

.page-name-title {
    margin-bottom: 0px;
}

.potato-rate {
	margin: 12px 2px;
}

.user-rating-actions {
	clear: both;
    padding-top: 15px;
}

.single-star {
	color: #fde16d;
	white-space: nowrap;
	overflow: hidden;
	-webkit-text-stroke: 1px #777;
	text-shadow: 1px 1px #999;
	font-size: 2em;
	padding: 6px;
	margin-right: 5px;
}

.rating-label-single {
	font-size: 1.2em;
    line-height: 2.4em;
	font-weight: bold;	
}

.actor-name {
	font-size: 1.2em;
	/*color: #000;*/
}

.row .actor-name > span {
	font-size: 0.7em;
	opacity: 0.8;
}

.btn-edit-movie-info {
    margin-top: -4px;
}

.form-movie-add .left {
	padding-right: 2px;
}

.form-movie-add .right {
	padding-left: 2px;
}

#user-rating-container {
	margin-top: 15px;
}

#user-rating-container .caption {
	margin-top: 0;
}

#user-rating-container .caption > .label {
	padding: .3em .6em .3em;
}

.your-rating {
	font-size: 1.2em;
	font-weight: bold;
}

td .glyphicon-star {
	top: 2px;
}

.panel-default>.panel-heading {
	font-weight: bold;
}

.panel-body.contains-table {
	padding: 0;
}

.info-margin {
    margin: 4px 0;
}

.sort-container {
	margin-bottom: 4px;
}

.movie-row {
	cursor: pointer;
}

.genre-container {
	padding: 10px 0;
}

.genre-container > a {
	font-size: 1.3em;
	text-transform: capitalize;
	line-height: 1em;
}

.genre-container > span {
	font-size: 0.8em;
	font-weight: bold;
}

.title-view-all {
	font-size: 0.4em;
}